@import '../../../style/var';

.header {
  border-bottom: 3px solid $textColor;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.header__title {
  text-shadow: 5px 5px 5px $shadowColor;
  letter-spacing: 15px;
}
